/* Fuentes */
@font-face {
  font-family: "Acumin";
  src: url("fonts/Acumin-RPro.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #161616;
  background-color: #f2f0eb; /* Fondo Snow White */
}



/* HEADER */

header {
  display: flex;
  flex-direction: column; /* Cambia la dirección para que sea en columna */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 20px 40px;
  background-color: #161616; /* Fondo Phantom */
  font-family: "Acumin", sans-serif; /* Aplica la fuente globalmente */
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 40px; /* Separacion entre referencias */
  padding: 0;
  margin: 0; /* Elimina cualquier margen superior */
  justify-content: center; /* Centra el menú */
}

header nav ul li a {
  text-decoration: none;
  color: #f2f0eb;  /* Texto blanco suave */
  font-size: 1rem;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #086b45; /* Posy Green */
}
  

/* Logo styling */
.logo img {
  height: 80px;
  color: #f2f0eb;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: scale(1.1);
}

/*linea divisoria*/
.divider {
  width: 110%; /* Ajusta el ancho de la línea */
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
}
