@font-face {
  font-family: "AcuminProBold";
  src: url("assets/fonts/Acumin-BdltPro.otf") format("opentype");
}

@font-face {
  font-family: "AcuminProRegular";
  src: url("assets/fonts/Acumin-RPro.otf") format("opentype");
}

@font-face {
  font-family: "AcuminProRegular";
  src: url("assets/fonts/Acumin-BdPro.otf") format("opentype");
}

@font-face {
  font-family: "AcuminProItalic";
  src: url("assets/fonts/Acumin-ItPro.otf") format("opentype");
}

.quiz-container {
  background-size: cover;
  background-position: center;
  color: #161616; /* Texto oscuro */
  text-align: center;
  padding: 50px 20px; /* Márgenes amplios */
}

/* Cuadro del contenido */
.quiz-box {
  background-size: contain;
  background-repeat: no-repeat;
  width: 670px; /* Ancho del cuadro */
  height: 500px; /* Altura del cuadro */
  margin: 0 auto 60px; /* Centra horizontalmente y agrega margen inferior */
  display: flex; /* Flexbox para centrar contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

/* Contenido del cuadro */
.quiz-content {
  margin-bottom: 50px;
  text-align: center;
  max-width: 65%; /* Asegúrate de que el texto no se desborde */
}

.quiz-content h2 {
  font-family: "AcuminBdPro";
  font-size: 2.5rem; /* Tamaño del texto */
  font-weight: bold; /* Grosor del texto */
  text-align: center; /* Alineación del texto */
  margin-bottom: 30px; /* Espaciado inferior */
}

.quiz-content p {
  font-size: 1.2rem; /* Tamaño del texto */
  line-height: 1.6; /* Altura de línea para mejor lectura */
  text-align: justify; /* Centra el texto horizontalmente */
  margin: 20px; /* Centra el bloque de texto */
  margin-bottom: 25px; /* Espaciado inferior mayor para mayor separación */
  font-family: "AcuminRPro", sans-serif;
}

.quiz-content p strong {
  font-family: "AcuminRPro", sans-serif; /* Fuente para "quiz" */
  font-weight: bold; /* Grosor del texto */
}

.quiz-button {
  background-color: #1b4f3c; /* Verde oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 10px 10px; /* Tamaño del botón */
  border: none;
  font-size: 1.1rem; /* Tamaño de la fuente */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block; /* Centra el botón */
  margin-top: 20px; /* Espaciado superior para separación con el texto */
}

.quiz-button::after {
  content: ">";
  margin-left: 20px; /* Espaciado entre el texto y el símbolo */
}

.quiz-button:hover {
  background-color: #227657; /* Verde más claro */
  transform: scale(1.02); /* Efecto de agrandamiento */
}

/* Contenedor de imágenes */
.quiz-images {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap; /* Ajusta imágenes en pantallas pequeñas */
}

.quiz-image-container {
  padding: 5px;
  transition: transform 0.3s ease;
}

.quiz-image-container:hover {
  transform: translateY(-10px); /* Efecto de elevación al pasar el mouse */
}

/* Estilo de las imágenes */
.quiz-image {
  width: 120px; /* Ancho inicial */
  height: 300px; /* Altura inicial */
  object-fit: cover; /* Ajusta la imagen al contenedor */
  object-position: 40%;
  transition: transform 0.3s ease;
}

.quiz-image:hover {
  transform: scale(1.5); /* Efecto de zoom al pasar el mouse */
  z-index: 2; /* Trae la imagen al frente */
}
