/* Contenedor principal */
.quiz-container {
  background-size: cover;
  background-position: center;
  color: #161616; /* Texto oscuro */
  text-align: center;
  padding: 50px 20px; /* Márgenes amplios */
  font-family: Arial, sans-serif; /* Fuente limpia */
}

/* Cuadro del contenido */
.quiz-box {
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px; /* Ancho del cuadro */
  height: 500px; /* Altura del cuadro */
  margin: 0 auto 60px; /* Centra horizontalmente y agrega margen inferior */
  display: flex; /* Flexbox para centrar contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

/* Contenido del cuadro */
.quiz-content {
  margin-bottom: 50px;
  text-align: center;
  max-width: 90%; /* Asegúrate de que el texto no se desborde */
}

.quiz-content h2 {
  font-size: 2.2rem; /* Tamaño del título */
  margin: 30px 0; /* Espaciado superior e inferior */
  font-weight: bold;
}

.quiz-content p {
  font-size: 1.2rem; /* Tamaño del texto */
  line-height: 1.6; /* Altura de línea para mejor lectura */
  margin-bottom: 20px; /* Espaciado inferior */
}

.quiz-content strong {
  font-weight: bold;
}

.quiz-button {
  background-color: #1b4f3c; /* Verde oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 12px 24px; /* Tamaño del botón */
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  letter-spacing: 0.5px; /* Espaciado entre letras */
}

.quiz-button:hover {
  background-color: #227657; /* Verde más claro */
  transform: scale(1.02); /* Efecto de agrandamiento */
}

/* Contenedor de imágenes */
.quiz-images {
  display: flex;
  justify-content: center;
  gap: 100px; /* Espaciado entre imágenes */
  margin-top: 40px;
  flex-wrap: wrap; /* Ajusta imágenes en pantallas pequeñas */
}

.quiz-image-container {
  padding: 10px;
  transition: transform 0.3s ease;
}

.quiz-image-container:hover {
  transform: translateY(-10px); /* Efecto de elevación al pasar el mouse */
}

/* Estilo de las imágenes */
.quiz-image {
  width: 120px; /* Ancho inicial */
  height: 300px; /* Altura inicial */
  object-fit: cover; /* Ajusta la imagen al contenedor */
  transition: transform 0.3s ease;
}

.quiz-image:hover {
  transform: scale(1.5); /* Efecto de zoom al pasar el mouse */
  z-index: 2; /* Trae la imagen al frente */
}
